name: Deploy to Grebedoc

on:
  push:
    branches: ["main"]
jobs:
  deploy:
    runs-on: ubuntu-latest
    permissions:
      contents: read
    steps:
      - uses: actions/checkout@v6

      - name: Use Node.js
        uses: actions/setup-node@v6
        with:
          node-version: 24

      - name: Enable corepack
        run: corepack enable

      - name: Install dependencies
        run: pnpm i

      - name: Build
        run: pnpm build

      - name: Create tarball
        env:
          ZSTD_CLEVEL: "3"
        run: "tar --zstd --create --directory dist --file deploy.tar.zst ."

      - name: Deploy artifact
        run: |
          curl http://ril100.techtoto.dev/ \
            -X PUT \
            -H 'Authorization: Pages ${{ secrets.GREBEDOC_TOKEN }}' \
            -H 'Content-Type: application/x-tar+zstd' \
            --data-binary @deploy.tar.zst
